// @import '~@angular/material';

::ng-deep {
  .mat-datepicker-content .mat-calendar {
    width: 422px !important;
    height: 480px !important;
  }

  .mat-tooltip {
    position: absolute;
    font-size: 10px;
    padding: 0 8px;
    background-color: #222222;
    color: white;
    line-height: 25px;
    border-radius: 4px;
    top: 50px;
  }
  .mat-focus-indicator {
    .mat-ripple {
      color: rgba(0, 0, 0, 0.68);
    }
  }
  .mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button{
    color: #343434;
  }
  .mat-button.cdk-keyboard-focused .mat-button-focus-overlay,
  .mat-button.cdk-program-focused .mat-button-focus-overlay,
  .mat-icon-button.cdk-keyboard-focused .mat-button-focus-overlay,
  .mat-icon-button.cdk-program-focused .mat-button-focus-overlay,
  .mat-stroked-button.cdk-keyboard-focused .mat-button-focus-overlay,
  .mat-stroked-button.cdk-program-focused .mat-button-focus-overlay,
  .mat-flat-button.cdk-keyboard-focused .mat-button-focus-overlay,
  .mat-flat-button.cdk-program-focused .mat-button-focus-overlay {
    opacity: 0.3 !important;
  }
  .mat-calendar-body-selected{
    background-color: #493FB5;
    &.mat-focus-indicator{
      box-shadow: inset 0 0 0 1px #fff;
    }
  }

  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
  .cdk-keyboard-focused
    .mat-calendar-body-active
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
  .cdk-program-focused
    .mat-calendar-body-active
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    &.mat-calendar-body-today {
      box-shadow: inset 0 0 0 1px #fff;
    }
    background-color: #493FB5;
    color: white;
  }

  .mat-calendar {
    .mat-calendar-controls {

      .mat-icon-button:hover,
      .mat-icon-button:focus,
      .mat-calendar-period-button:hover,
      .mat-calendar-period-button:focus {
        .mat-button-focus-overlay {
          color: rgba(0, 0, 0, 0.68);
        }
      }
    }

    .mat-calendar-table-header,
    .mat-form-field-label {
      color: rgba(0, 0, 0, 0.68);
    }

    .mat-calendar-body-label {
      color: rgba(0, 0, 0, 0.66);
    }
  }
}
